@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz@8..30&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  height: 100vh;
  width: 100vw;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  background-color: #B6CAF2;
  color: #1c4eb2;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

a  {
  text-decoration: none;
}

a:visited {
  color: #1c4eb2;
}

.nav-search-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-family: 'LimeLight', cursive;
  font-size: 3.5rem;
}


.nav-buttons {
  display: flex;
  
}
.nav-buttons li, .user-page-crud li {
  
  border: 1px solid #3876F2;
  margin: 0 20px;
  padding: 5% 15%;
  white-space: nowrap;
  transition: 0.3s;
}

.nav-buttons li:hover, .user-page-crud li:hover {
  box-shadow: 0 0 2px 2px #c27cdf;
}

/* Home */

.home-wrapper {
  display: flex;
  flex-flow: column;
}
.home-top-image-carousel {
  margin: 2%;
  height: 50vh;
  overflow: hidden;
}
.home-image {
  position: relative;
}

.home-image img {
  width: 100%;
  height: auto;
  filter: blur(3px);
}
.about-colab {
  position: absolute;
  color: white;
  left: 50%;
  top: 25%;
  transform: translate(-25%, -50%);
}

.home-center {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.home-search {
  font-family: 'LimeLight', cursive;
  font-size: 3.5rem;
  text-decoration: none;
}

/* Sign up page */
.signup-page-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-family: 'Ledger', serif;
  
}

.signup-form-wrapper, .login-form-wrapper {
  border: 1px solid rgb(44, 42, 42);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: 10vh 0;
  width: 25vw;
  text-align: center;
  background-color: #1c4eb2;
  color:#B6CAF2;
}

.login-form-wrapper {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.signup-form, .add-track-form, .update-track-form {
  display: flex;
  flex-flow: column;
  background-color: #B6CAF2;
  color:#1c4eb2;
  align-items: center;
  
}

.signup-button {
  margin: 3vh;
  width: 50%;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 30px;
  border: 1px solid #1c4eb2;
}

.signup-about-wrapper {
  border: 1px solid rgb(44, 42, 42);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  margin: 10vh 0;
  width: 25vh;
  
}

.input-wrapper {
  display: flex;
  flex-flow: column;
  /* margin: 3vh 0 0 0; */
  text-align: left;
}

input {
  font-size: 1.1rem;
  border: 1px solid #1c4eb2;
  border-radius: 30px;
  padding: 5px 15px;
}
/* Search Page */

.search-page-wrapper{
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.search-options {

}
.search-results-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.text-search {
  display: flex;
  justify-content: center;
  margin: 5vh 0 0;
}

.text-search-input input {
  padding: 8px 20px;

}
.text-search button {
  border: none;
  font-size: 2rem;
}

.search-results {
  width: 60%;
  overflow-x: scroll;
  height: 68vh;
}

/* User Profile Active */

.user-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.user-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.user-info img {
  border-radius: 50px;
  height: 100px;
  width: 100px;

}

.user-page-content {
  grid-column: 2 / 3;

}

.user-tracks {
  display: flex;
  flex-flow: column;
  width: 100%;
  overflow-x: scroll;
  height: 85vh;
}

.user-page-crud {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.user-page-crud li {
  margin: 3vh;
  padding: 10px;
  text-align: center;
}
/* Add Track + Update Track*/

.add-track-wrapper, .update-track-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}



.add-track-form-wrapper, .update-track-form-wrapper {
  border: 1px solid rgb(44, 42, 42);
  text-align: center;
  border-radius: 3px;
  background-color: #1c4eb2;
  color:#B6CAF2;
  margin: 5vh;
  font-family: 'Jost', sans-serif;
  width: 60%;
  box-shadow: -2px 2px 2px 0 rgba(194, 124, 223, 0.5);
}

.descriptor-wrapper {
  display: flex;
  margin: 10px;
}

.add-track-genres,.add-track-metadata, .add-track-needs, .update-track-genres, .update-track-metadata, .update-track-needs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color:#1c4eb2;
  color:#f2f2f2;
  border: 1px solid #c27cdf;
  margin: 1vh 1vw;
  box-shadow: 2px 2px 2px 0 rgba(194, 124, 223, 0.5);
}

.add-track-metadata li, .add-track-genres li, .add-track-needs li, .update-track-metadata li, .update-track-genres li, .update-track-needs li {
  padding: 5px 5px;
}

.heading-font {
  font-weight: 300;
  font-size: 2rem;
}
.heading-alt-font {
  font-family: 'Limelight', cursive;
  font-size: 2.2rem;
}

.label {
  text-align: center;
  grid-column: 1 /-1;
  font-family: 'Limelight', cursive;
  font-size: 1.4rem;
}
.genre-checkbox, .metadata-checkbox, .need-checkbox {
  display: flex;
  /* justify-content: space-between; */
}
/* Audio Player */
.player-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  margin: 10px 0;
  padding: 0 5% 0 ;
  box-shadow: 0 2px 3px 0 rgba(47, 47, 47, 0.5);

}

.player-track-title {
  grid-column: 1 / -1;
}

.react-player-wrapper {
  grid-column: 1 / -1;
  position: relative;
  padding-top: 50px;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.player-track-pic-description img {
  height: 20vh;
  width: auto;
}

.update-track-link {
  grid-column: 2 /3 ;
  text-align: right;
}

.update-track-link button {
  border: none;
  font-size: 1.2rem;
  color:#1c4eb2;
}

.player-track-data {
  display: flex;
}

.player-track-needs, .player-track-genres, .player-track-metadata {
  display: flex;
  flex-flow: column;
  margin: 0 10px;
  justify-content: flex-start;
}