@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz@8..30&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EAF2CE;
  height: 100vh;
}

nav {
  display: flex;
  background-color: #53A62D;
  color: #EAF2CE;
}

.nav-title {
  font-family: 'Piazzolla', serif;
  font-size: 3.5rem;
}
/* Home */

.home-wrapper {
  display: flex;
  flex-flow: column;
}
.home-top-image-carousel {
  /* display: flex; */
  margin: 2%;
  height: 50vh;
  overflow: hidden;
}
.home-image {
  position: relative;
}

.home-image img {
  width: 100%;
  height: auto;
  filter: blur(3px);
}
.about-colab {
  position: absolute;
  color: white;
  left: 50%;
  top: 25%;
  transform: translate(-25%, -50%);
}




.home-center {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.home-title {
  font-family: 'Piazzolla', 'sans serif';
  font-size: 5rem;
  color:#2f5a1b;
}

.loginout-buttons {
  display: flex;
}

/* Search Page */

.search-page-wrapper{
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.search-choices ul li{
  display:flex;
}

/* User Profile Active */

.user-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  /* height: 100vh; */
}

.user-page-content {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.user-tracks {
  display: flex;
  flex-flow: column;
}

/* Audio Player */
.player-wrapper {
  height: 100%;
}