@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz@8..30&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e2e8f6;
  font-family: 'Jost', sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #B6CAF2;
  color: #1c4eb2;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
}

a  {
  text-decoration: none;
}

a:visited {
  color: #1c4eb2;
}

.nav-search-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 2vw;
  transform: translateX(-1.6vw);
}

.nav-title {
  font-family: 'LimeLight', cursive;
  font-size: 3.5rem;
  transition: 0.3s;
}

.nav-title:hover, .fa-circle-question:hover, .fa-magnifying-glass:hover {
  color:#c27cdf;
}


.nav-buttons {
  display: flex;
  justify-content: flex-start;
  
}
.nav-buttons a, .user-page-crud li {

  border: 1px solid #3876F2;
  margin: 0 20px;
  padding: 5% 15%;
  white-space: nowrap;
  transition: 0.3s;
}

.nav-buttons a:hover, .user-page-crud li:hover, .add-track-form button:hover, .update-track-form button:hover, .add-track-confirm-buttons button:hover, .update-track-confirm-buttons button:hover, .update-user-form button:hover, .delete-track-form button:hover {
  box-shadow: 0 0 2px 2px #c27cdf;
}

.fa-magnifying-glass, .fa-circle-question {
  font-size: 1.5rem;
  transition: 0.3s;
}

/* Home */

.home-wrapper {
  display: flex;
  flex-flow: column;
}

.home-wrapper h4 {
  text-align: center;
}
.home-top-image-carousel {
  margin: 2% 2% 0;
  height: 40vh;
  overflow: hidden;
}
.home-image {
  position: relative;
}

.home-image img {
  width: 100%;
  height: auto;
  filter: blur(3px);
}
.about-colab {
  position: absolute;
  color: white;
  left: 44.5%;
  top: 40%;
  transform: translate(-40%, -40%);
  text-align: center;
}

.about-colab-info {
  font-family: 'Limelight', cursive;
  font-size: 3rem;
}

.about-colab-words {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  transition: 0.3s;
  color: #f2f2f2;
}

.about-colab-words:hover, .home-search:hover {
  color:#c27cdf;
}

.home-center {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.home-search {
  font-family: 'LimeLight', cursive;
  font-size: 2.5rem;
  text-decoration: none;
  border-top: 1px solid #1c4eb2;
  transition: 0.3s;
}

.home-search-div {
  margin: 1vh 10vw;
  padding: 1vh 0;
  text-align: center;
}

.fa-angles-right {
  font-size: 1.9rem;

}

.random-users {
  display: flex;
  justify-content: space-around;
}

.random-user-wrapper {
  display: flex;
  flex-flow: column;
  border: 1px solid #1c4eb2;
  background-color: #B6CAF2;
  justify-content: space-between;
  margin-bottom: 3vh;
  width: 15vw;
}

.random-user-banner img {
  width: 15vw;
  height: auto;
  padding: 0 2px 0 0;
}

.random-user-pic-and-name {
  display: flex;
  padding: 0 1vw;
}

.random-user-name {
  display: flex;
  flex-flow: column;
  padding: 0 1vw;
}
.random-user-track-name {
  display:flex;
  flex-flow: row wrap;
}
.random-user-pic-and-name img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

/* Sign up page */
.signup-page-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  font-family: 'Ledger', serif;
  
}

.signup-form-wrapper, .login-form-wrapper {
  border: 1px solid rgb(44, 42, 42);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin: 10vh 0;
  width: 30vw;
  text-align: center;
  background-color: #1c4eb2;
  color:#B6CAF2;
}

.login-form-wrapper {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.signup-form, .add-track-form, .update-track-form, .update-user-form, .delete-track-form, .add-collab-form {
  display: flex;
  flex-flow: column;
  background-color: #B6CAF2;
  color:#1c4eb2;
  align-items: center;
  
}

.signup-button {
  margin: 3vh;
  width: 50%;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 30px;
  border: 1px solid #1c4eb2;
}

.signup-about-wrapper {
  border: 1px solid rgb(44, 42, 42);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  margin: 10vh 0;
  width: 25vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-color: #B6CAF2;
}

.signup-about {
  margin: 0 3vw;
  background-color: #1c4eb2;
  color: white;
  box-shadow: 0 0 2px 2px rgba(200, 132, 229, .8);
  padding: 5px;
  font-size: 1.2rem;
  font-family: 'Jost', sans-serif;
}

.input-wrapper {
  display: flex;
  flex-flow: column;
  text-align: left;
}

input {
  font-size: 1.1rem;
  border: 1px solid #1c4eb2;
  border-radius: 30px;
  padding: 5px 15px;
}
/* Search Page */

.search-page-wrapper{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.search-options {
  display: flex;
}
.search-genres, .search-metadata, .search-needs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color:#1c4eb2;
  color:#f2f2f2;
  border: 1px solid #c27cdf;
  margin: 1vh 1vw;
  box-shadow: 2px 2px 2px 0 rgba(194, 124, 223, 0.5);
}
.search-results-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 60%;
}

.text-search {
  display: flex;
  margin: 2vh 0 0;
}

.text-search-input input {
  padding: 8px 20px;

}
.text-search button, .search-options button {
  border: none;
  font-size: 2rem;
  transition: .3s;
  background-color: transparent;
}
.text-search button:hover {
  color:#1c4eb2;
}
.search-options button:hover {
  color:#c27cdf;
}
.search-results {
  overflow-x: scroll;
  height: 55vh;
}

/* User Profile Active */

.user-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.user-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 2vw;
  text-align: center;
}

#user-pic {
  border-radius: 50px;
  height: 100px;
  width: 100px;

}

.user-page-content {
  grid-column: 2 / 3;

}

.user-tracks {
  display: flex;
  flex-flow: column;
  overflow-x: scroll;
  height: 85vh;
}

.user-page-crud {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.user-page-crud li {
  margin: 3vh;
  padding: 10px;
  text-align: center;
}

#view-user-colabs, #view-user-tracks {
  border: none;
  background-color: transparent;
  color: #1c4eb2;
  font-family: 'Jost', sans-serif;
  font-size: .9rem;
}

/* visiting user page */

.visit-user-page {
  display: flex;
  flex-flow: column;

}

.visit-user-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.visit-user-banner-section {
  height: 13vh;
  overflow: hidden;
  position: relative;
}

#visit-user-banner {
  max-width: 100%;
  height: auto;
}

#visit-user-pic {
  position: absolute;
  top:0;
  left: 0;
  border-radius: 50px;
  height: 10vh;
  width: 10vh;
  margin: 1.5vh 0 0 1vw;
}

#visit-user-name {
  position: absolute;
  top: 0;
  left: 0;
  color:#c27cdf;
  margin: 4.4vh 0 0 8vw;
  font-family: 'Jost', sans-serif;
}

.visit-user-page-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.visit-user-page-playlist-about-wrapper{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.user-spot-playlist {
  width: 70%;
  margin: 2vh 0;
}

.visit-user-about {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 0 30px;
}

.visit-user-tracks {
  width: 90%;
  /* height: 76vh; */
  overflow: hidden;
  margin: 0 1vw;
}

/* Add Track + Update Track + Delete Track + Create Colab */

.add-track-wrapper, .update-track-wrapper, .update-user-wrapper, .delete-track-wrapper, .add-collab-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}


.add-track-form-wrapper, .update-track-form-wrapper, .update-user-form-wrapper, .delete-track-form-wrapper, .add-collab-form-wrapper {
  border: 1px solid rgb(44, 42, 42);
  text-align: center;
  border-radius: 3px;
  background-color: #1c4eb2;
  color:#B6CAF2;
  margin: 5vh;
  font-family: 'Jost', sans-serif;
  width: 60%;
  box-shadow: -2px 2px 2px 0 rgba(194, 124, 223, 0.5);
}

.descriptor-wrapper {
  display: flex;
  margin: 10px;
}

.add-track-genres,.add-track-metadata, .add-track-needs, .update-track-genres, .update-track-metadata, .update-track-needs, .player-track-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color:#1c4eb2;
  color:#f2f2f2;
  border: 1px solid #c27cdf;
  margin: 1vh 1vw;
  box-shadow: 2px 2px 2px 0 rgba(194, 124, 223, 0.5);
}

.add-track-metadata li, .add-track-genres li, .add-track-needs li, .update-track-metadata li, .update-track-genres li, .update-track-needs li {
  padding: 5px 5px;
}

.heading-font {
  font-weight: 300;
  font-size: 2rem;
}
.heading-alt-font {
  font-family: 'Limelight', cursive;
  font-size: 2.2rem;
}

.label {
  text-align: center;
  grid-column: 1 /-1;
  font-family: 'Limelight', cursive;
  font-size: 1.4rem;
}
.genre-checkbox, .metadata-checkbox, .need-checkbox {
  display: flex;
  align-items: center;
}

.form-buttons {
  display: flex;
}

.add-track-form button, .update-track-form button, .add-track-confirm-buttons button, .update-track-confirm-buttons button, .update-user-form button, .delete-track-form button .add-collab-form button{
  border: 1px solid #1c4eb2;
  background-color: #B6CAF2;
  color:#1c4eb2;
  margin: 0 10px 2vh;
  transition: 0.3s;
}

.add-track-confirm-wrapper, .update-track-confirm-wrapper, .delete-track-confirm-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* .delete-track {
  padding: 8vh 0;
  width: 50%;
  font-size: 2rem;
}

.delete-track-input {
  align-items: center;
}

.delete-track-input select {
  padding: 10px 20px;
  border-radius: 30px;
}

.delete-track-buttons {
  justify-content: center;
  margin: 2vh;
}
*/
/* .delete-track-buttons button {
  margin: 0 2vw;
  padding: 10px;
  border: 1px solid #1c4eb2;
  color: #1c4eb2;
  background-color:#B6CAF2;
  border: 1px solid #B6CAF2;
}  */




/* Audio Player */
.player-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #1c4eb2;
  background-color: #B6CAF2;
  border-radius: 3px;
  margin: 10px 0;
  padding: 0 5% 0 ;
  box-shadow: 2px 2px 3px 0 rgba(200, 132, 229, .8);
  font-family: 'Jost', sans-serif;
}

.player-track-title {
  grid-column: 1 / -1;
}

.react-player-wrapper {
  grid-column: 1 / -1;
  position: relative;
  padding-top: 50px;
  margin-bottom: 10px;
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.player-track-pic-description img {
  height: 18vh;
  max-width: auto;
}
.play-track-update-details {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.update-track-link button{
  background-color: transparent;
}

.link-to-user-page {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.link-to-user-page h3 {
  margin: 5px 0;
}

.update-track-link {
  grid-column: 2 /3 ;
  text-align: right;
}

.update-track-link button {
  border: none;
  font-size: 1.2rem;
  color:#1c4eb2;
}

.player-track-data {
  display: flex;
}

.player-track-needs, .player-track-genres, .player-track-metadata {
  display: flex;
  flex-flow: column;
  margin: 0 10px;
  justify-content: flex-start;
  align-items: center;
}

@media  screen and (max-width: 600px) {
  .nav-title {
    font-family: 'LimeLight', cursive;
    font-size: 1.5rem;
    transition: 0.3s;
  }

  .nav-buttons a, .user-page-crud li {

    border: 1px solid #3876F2;
    margin: 0 5px;
    font-size: .5rem;
    /* padding: 5% 15%; */
    white-space: nowrap;
    transition: 0.3s;
  }

  .fa-magnifying-glass, .fa-circle-question {
    font-size: .8rem;
    transition: 0.3s;
  }

  .about-colab-info {
    font-family: 'Limelight', cursive;
    font-size: 1.1rem;
  }

  .about-colab-words {
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    transition: 0.3s;
    color: #f2f2f2;
  }

  .home-top-image-carousel {
    margin: 0;
    height: 13vh;
  }

  .home-image img {
    width: 100%;
    height: auto;
    filter: blur(0px);
  }

  .home-search {
    font-family: 'LimeLight', cursive;
    font-size: 1.4rem;
    text-decoration: none;
    border-top: 1px solid #1c4eb2;
    transition: 0.3s;
    margin-top: 2vh;
  }

  .fa-angles-right {
    font-size: 1rem;
  }

  .heading-alt-font, .heading-font {
    font-size: 1rem;
  }

  .random-users {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
  }

  .random-user-wrapper {
    display: flex;
    flex-flow: column;
    border: 1px solid #1c4eb2;
    background-color: #B6CAF2;
    justify-content: space-between;
    margin-bottom: 3vh;
    width: 90vw;
  }

  .random-user-banner img {
    width: 90vw;
    height: auto;
    padding: 0 2px 0 0;
  }

  .random-user-pic-and-name img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .signup-page-wrapper {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    font-family: 'Ledger', serif;
  }

  .signup-form-wrapper, .login-form-wrapper {
  border: 1px solid rgb(44, 42, 42);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-top: 3vh;
  margin-bottom: 0;
  width: 90vw;
  text-align: center;
  background-color: #1c4eb2;
  color:#B6CAF2;
}

.signup-about-wrapper {
  border: 0px solid rgb(44, 42, 42);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-left: 1px solid rgb(44, 42, 42);
  border-left: none;
  border-bottom: none;
  width: 90vw;
  margin: 3vh 0 0 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-color: transparent;
}

.signup-about {
  margin: 0 3vw;
  background-color: #1c4eb2;
  color: white;
  box-shadow: 0 0 2px 2px rgba(200, 132, 229, .8);
  padding: 0 5px;
  font-size: 1rem;
}

  .search-options {
    flex-flow: column;
  }

  .search-options button {
    font-size: 1rem;
  }
  .fa-compact-disc {
    font-size: 1.9rem;
  }

  .player-wrapper {
    display: flex;
    flex-flow: column;
    border: 1px solid #1c4eb2;
    background-color: #B6CAF2;
    border-radius: 3px;
    margin: 10px 0;
    padding: 0 5% 0 ;
    box-shadow: 2px 2px 3px 0 rgba(200, 132, 229, .8);
    font-family: 'Jost', sans-serif;
    text-align: center;
  }
  .player-track-pic-description {
    display: none;
  }

  .visit-user-banner-section {
    height: 13vh;
    overflow: hidden;
    position: relative;
  }

  #visit-user-name {
    position: absolute;
    top: 0;
    left: 0;
    color:#c27cdf;
    margin: 4.4vh 0 0 25vw;
    font-family: 'Jost', sans-serif;
  }

  .visit-user-page-content {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .user-spot-playlist {
    width: 90%;
    margin: .5vh 0;
  }
  .user-spot-playlist iframe{
    height: 160px;
  }

  .user-page-wrapper {
    display: grid;
    grid-template-rows: 1fr .5fr 5fr;
  }
  .user-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2vw;
    margin-bottom: 0;
    text-align: center;
    grid-column: 1 / -1;
    
  }

  #user-pic {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  }
  .user-page-crud {
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
  grid-row: 2 /3;
  }

  .user-page-crud ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .user-page-crud li {
  margin: 5px;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
}

  #view-user-colabs, #view-user-tracks {
    border: none;
    background-color: transparent;
    color: #1c4eb2;
    font-family: 'Jost', sans-serif;
    font-size: .9rem;
  }

  .descriptor-wrapper {
    display: flex;
    flex-flow: column;
    margin: 10px;
  }
}